
<!-- nav -->
<!-- <div class="g-nav-song">
    <div class="g-audio-button">
        <div class="g-audio-state">
            <div class="g-audio-on"></div>
            <div class="g-audio-off"></div>
        </div>
        <div class="g-mute-state">
            <img class="g-mute" src="https://static01.nyt.com/newsgraphics/2021/03/01/mag-music-issue/assets/images/mute.png" alt="">
            <img class="g-unmute" src="https://static01.nyt.com/newsgraphics/2021/03/01/mag-music-issue/assets/images/unmute.png" alt="">
        </div>
    </div>
    <div class="g-nav-song-title"></div>
</div> -->
<!-- content goes here -->
<div class="g-block g-song g-song-photo g-song-medium g-song-medium g-active g-seen" id="dua-lipa">
    <div class="g-cover top">
        <div class="g-cover-content top__content">
            <!-- dek is the 1st row at the top and it divides in 2 50% -->
            <div class="g-cover-number-dek top__dek">
                <!-- This is the rolling text -->
                <div class="g-holder g-text top__kicker ticker">
                    These Artists Got Us Through a Pandemic Year <br> <br>
                    These Artists Got Us Through a Pandemic Year <br> <br>
                    These Artists Got Us Through a Pandemic Year <br> <br>
                    These Artists Got Us Through a Pandemic Year <br> <br>
                    These Artists Got Us Through a Pandemic Year <br> <br>
                    These Artists Got Us Through a Pandemic Year <br> <br>
                </div>
                <!-- This is the number of songs -->
                <div class="top__hed0">
                    <p>19</p>
                </div>
            </div>
            <!-- This is the ticker test -->
            <div class="top__ticker-wrapper">
            <div class="top__ticker-wrap">
                <div class="top__ticker">
                    <div class="top__ticker-item">songs </div>
                    <div class="top__ticker-item">here </div>
                </div>
            </div>
            </div>
            <!-- This is the middle row -->
            <div class="g-cover-hed1 top__hed1">
                <p>songs</p>
                <p>songs</p>
                <p>songs</p>
                <p>songs</p>
                <p>songs</p>
            </div>
            <!-- This is the green row -->
            <div class="g-cover-hed2 top__hed2" >
                <p>that matter now</p>
            </div>
        </div>
        <div class="g-media top__media">
            <img src="https://media.guim.co.uk/8e39b01f3ead36e2dba8cbd9e5ec839e7ce26ebe/0_0_2667_4000/1334.jpg" alt="">
        </div>
    </div>
    <div class="g-audio-prompt g-desktop"></div>
    <div class="g-content"></div>
    <div class="g-spotifylink"></div>

</div>
  